<h1> Your word:<%= @attempt %></h1>
<p>Time Taken to answer: <%=@result[:time]%></p>
<p>Translation: <%=@result[:translation]%></p>
<p>Your score: <%=@result[:score]%></p>
<p>Message: <%=@result[:message]%></p>
